{{ partial "header.html" . }}

<section class="posts main-load">
    <div class="container">
        <div class="post-list">
            {{ range .Pages }}
            <article class="meta" itemscope="" itemtype="http://schema.org/BlogPosting">
                <header>
                    <a href="{{ .RelPermalink }}" itemprop="url"><h2 itemprop="name headline">{{ .Title }}</h2></a>
                </header>
                <main>
                    <p itemprop="articleBody">
                        {{ .Summary | plainify | truncate 220 "..." }}
                    </p>
                </main>
                <footer>
                    <span class="author">作者：<a href="{{ "/authors/" | relURL }}{{ .Params.author | default "小石子" }}">{{ .Params.author | default "小石子" }}</a></span>
                    <span class="hr"></span>
                    <span class="time"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" title="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" itemprop="datePublished" pubdate>{{ .Date.Format "2006-01-02" }}</time>发布</span>
                </footer>
            </article>
            {{ end }}
        </div>
    </div>
</section>

{{ partial "footer.html" . }}
