<footer class="footer">
    <section class="container">
        <nav class="menu">
            <ul>
                {{ range .Site.Menus.footer }}
                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>
        <div style="display: flex;justify-content: space-between;">
            <div class='left'>
                <span>&copy; {{ now.Year }} <a href="{{ relURL "" }}">{{ .Site.Title }}</a></span>
            </div>
            <div class='right'>
                <span>Theme by <a href="https://biji.io" target="_blank">Adams</a></span>
            </div>
        </div>
    </section>
</footer>
<div class="setting_tool iconfont">
    <a class="back2top" style="display:none;"><i class="czs-arrow-up-l"></i></a>
    {{ if not .IsHome }}
        <a class="home" href="{{ relURL "" }}"><i class="czs-home-l"></i></a>
    {{ end }}
    <a class="sosearch"><i class="czs-search-l"></i></a>
    <a class="socolor"><i class="czs-clothes-l"></i></a>
    <div class="s">
        <form method="get" action="{{ relURL "" }}" class="search">
            <input class="search-key" name="s" autocomplete="off" placeholder="输入关键词..." type="text" value="" required="required">
        </form>
    </div>
    <div class="c">
        <ul>
            <li class="color undefined">默认</li>
            <li class="color sepia">护眼</li>
            <li class="color night">夜晚</li>
            <li class="hr"></li>
            <li class="font serif">Serif</li>
            <li class="font sans">Sans</li>
        </ul>
    </div>
</div>
<script src="{{ "js/jquery.min.js" | relURL }}"></script>
<script src="{{ "js/qrcode.min.js" | relURL }}"></script>
<script src="{{ "js/script.js" | relURL }}"></script>
<script src="{{ "js/prettify.js" | relURL }}"></script>
<script src="{{ "js/instantclick.js" | relURL }}"></script>
<script data-no-instant>
    (function ($) {
        $.extend({
            adamsOverload: function () {
                $(".post_article a").attr("rel", "external");
                $("a[rel='external']:not([href^='#']),a[rel='external nofollow']:not([href^='#'])").attr("target", "_blank");
                $("a.vi,.gallery a,.attachment a").attr("rel", "");
                $.viewImage({
                    'target': '.gallery a,.gallery img,.attachment a,.post_article img,.post_article a,a.vi',
                    'exclude': '.readerswall img,.gallery a img,.attachment a img'
                });
                Lately({
                    'target': '.commentmetadata a:first-child,.infos time,.post-list time'
                });
                prettyPrint();
                $('ul.links li a').each(function () {
                    if ($(this).parent().find('.bg').length === 0) {
                        $(this).parent().append('<div class="bg" style="background-image:url(https://www.google.com/s2/favicons?domain=' + $(this).attr("href") + ')"></div>')
                    }
                });
                if (navigator.vendor.indexOf("Apple") > -1) {
                    $("[srcset]").each((index, img) => {
                        img.outerHTML = img.outerHTML;
                    });
                }
            }
        });
    })(jQuery);
    jQuery.adamsOverload();
</script>
</body>
</html>
